{% extends "base.html" %}
{% block content %}
        <section class="section">
            <div class="section-header">
                <h1>Dashboard</h1>
            </div>
            <div class="section-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Table 1</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Hobby</th>
                                                <th>Ages</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Gaming</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Gaming</td>
                                                <td>22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <h5>Table 2</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-light">
                                        <thead class="bg-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>Hobby</th>
                                                <th>Ages</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Gaming</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Gaming</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Gaming</td>
                                                <td>22</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}