{% extends "base.html" %}
{% block content %}
  <div class="main-content">
      <div class="col-md">
          <section class="section">
              <div class="section-header">
                  <h1>Dashboard</h1>
              </div>
              <div class="section-body">
                  <table class="table table-hover table-striped table-bordered text-center">
                      <thead class="bg-primary">
                          <tr>
                              <th class="text-light">Name</th>
                              <th class="text-light">No Telp</th>
                              <th class="text-light">Alamat</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Pramdhanni</td>
                              <td>0896969669</td>
                              <td>Jl.gerobakseblak no3</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </section>
      </div>
  </div>
{% endblock content %}